.our-story-block {
  margin-top: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.our-story-block section {
  display: grid;
  grid-template-columns: auto 2fr;
  width: 100%;
  max-width: 1575px;
  margin-right: 24px;
  margin-left: 24px;
  max-height: 500px;
  position: relative;
}

.our-story-block .steak-grill {
  width: 100%;
  max-width: 670px;
  max-height: 500px;
}

.our-story-text {
  background-color: white;
  display: flex;
  flex-direction: column;
  gap: 42px;
  padding: 72px;
  max-width: 900px;
  max-height: 500px;
}

.our-story-text .discover-text {
  font-family: Great Vibes, sans-serif;
  color: #b39b8e;
  font-size: 48px;
}

.our-story-text .our-story-header-text {
  font-family: Merriweather;
  font-size: 52px;
  font-weight: bold;
}

.our-story-text .text-body {
  font-family: Merriweather;
  font-size: 18px;
  line-height: 1.3;
}

.our-story-text .more-about-us-text {
  color: #b39b8e;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
}

.thyme-stem-img {
  position: absolute;
  transform: rotate(30deg);
  right: -120px;
  bottom: -100px;
  width: 100%;
  max-width: 300px;
}
